body {
  font-family: "Roboto", sans-serif;
}

.bg {
  height: 200px;
  width: 100%;
  background: #000428;
  background: -webkit-linear-gradient(to top, #004e92, #000428);
  background: linear-gradient(to top, #004e92, #000428);
}

.centrado {
  margin-top: 5vh;
}

h1 {
  font-size: 2.3rem !important;
  color: #fff;
}

.busqueda {
  background: #fff;
  margin-top: 10px;
  display: flex;
  border: 1.5px solid #5c5c5c;
  box-shadow: none;
  border-radius: 10px;
  z-index: 3;
  height: 44px;
  width: 65%;
  margin: 0 auto;
  outline: none;
}

.busqueda:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(233, 225, 229, 0);
}

.actions {
  text-align: center;
  margin-top: 10px;
  width: 100%;
  outline: none;
}

.btng {
  background: #fff;
  border: 1.5px solid #5c5c5c;
  border-radius: 10px;
  color: #585858;
  cursor: pointer;
  /*font-family: arial, sans-serif;*/
  font-size: 14px;
  margin: 4px 4px;
  min-width: 100px;
  padding: 0 8px;
  text-align: center;
  height: 36px;
  text-decoration: none;
  display: inline-block;
  line-height: 35px;
  outline: none;
}

#miid::placeholder {
  text-align: center;
  padding-top: 30px;
}
.btng:hover {
  text-decoration: none;
}

.images {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pic {
  padding: 10px;
  border-radius: 15px;
  height: fit-content;
}

.camera {
  padding-top: 5px;
  color: #fff;
  font-size: 6rem;
}

@media (max-width: 450px) {
  .pic {
    width: 310px;
  }
}

@media (max-width: 400px) {
  .busqueda {
    width: 90%;
  }
}
